In [2]:
import pandas as pd 
import glob 
import os

In [3]:
path = os.getcwd()
print(path)
day1_path = path + "\Data-230614"
day2_path = path + "\Data-230615"
print(day1_path)
print(day2_path)

c:\Users\WonResearchGroup\Desktop
c:\Users\WonResearchGroup\Desktop\Data-230614
c:\Users\WonResearchGroup\Desktop\Data-230615

In [4]:
day1_jump_path = day1_path + "\Jump"
day1_rest_path = day1_path + "\Rest"
day1_squat_path = day1_path + "\Squat"
day1_walk_path = day1_path + "\Walk"

day2_jump_path = day2_path + "\Jump"
day2_rest_path = day2_path + "\Rest"
day2_squat_path = day2_path + "\Squat"
day2_walk_path = day2_path + "\Walk"

test_csv_path = day1_jump_path + "\\2023-06-14 17_14_38.csv"
print(test_csv_path)
df = pd.read_csv(test_csv_path)
df

c:\Users\WonResearchGroup\Desktop\Data-230614\Jump\2023-06-14 17_14_38.csv

,Timestamp,U,V,W,X,Y,Z,PulseInfo,Us,Ub,Vs,Vb,Ws,Wb,X+,X-,Y+,Y-,Z+,Z-
0,17:14:34:0760,1259,1853,3051,908,728,627,0,0,0,0,0,0,0,0,0,0,0,0,0
1,17:14:34:1150,1294,1866,3109,936,739,633,0,0,0,0,0,0,0,0,0,0,0,0,0
2,17:14:34:1150,1320,1883,2245,949,728,562,0,0,0,0,0,0,0,0,0,0,0,0,0
3,17:14:34:1530,1318,1807,1755,964,734,527,0,0,0,0,0,0,0,0,0,0,0,0,0
4,17:14:34:1910,1308,1700,1319,974,743,508,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,17:14:38:0160,987,1350,2648,802,681,625,0,0,0,0,0,0,0,0,0,0,0,0,0
197,17:14:38:0160,1011,1408,2571,806,679,613,0,0,0,0,0,0,0,0,0,0,0,0,0
198,17:14:38:0550,1037,1456,2519,815,680,605,0,0,0,0,0,0,0,0,0,0,0,0,0
199,17:14:38:0550,1064,1482,2541,826,676,601,0,0,0,0,0,0,0,0,0,0,0,0,0
200,17:14:38:0550,1083,1507,2583,829,681,600,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
df.rename(columns={'W':'Jump'}, inplace=True)
df

,Timestamp,U,V,Jump,X,Y,Z,PulseInfo,Us,Ub,Vs,Vb,Ws,Wb,X+,X-,Y+,Y-,Z+,Z-
0,17:14:34:0760,1259,1853,3051,908,728,627,0,0,0,0,0,0,0,0,0,0,0,0,0
1,17:14:34:1150,1294,1866,3109,936,739,633,0,0,0,0,0,0,0,0,0,0,0,0,0
2,17:14:34:1150,1320,1883,2245,949,728,562,0,0,0,0,0,0,0,0,0,0,0,0,0
3,17:14:34:1530,1318,1807,1755,964,734,527,0,0,0,0,0,0,0,0,0,0,0,0,0
4,17:14:34:1910,1308,1700,1319,974,743,508,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,17:14:38:0160,987,1350,2648,802,681,625,0,0,0,0,0,0,0,0,0,0,0,0,0
197,17:14:38:0160,1011,1408,2571,806,679,613,0,0,0,0,0,0,0,0,0,0,0,0,0
198,17:14:38:0550,1037,1456,2519,815,680,605,0,0,0,0,0,0,0,0,0,0,0,0,0
199,17:14:38:0550,1064,1482,2541,826,676,601,0,0,0,0,0,0,0,0,0,0,0,0,0
200,17:14:38:0550,1083,1507,2583,829,681,600,0,0,0,0,0,0,0,0,0,0,0,0,0

In [7]:
mother_df = pd.DataFrame()

day1_jump_csv_files = glob.glob(os.path.join(day1_jump_path, "*.csv"))
day1_rest_csv_files = glob.glob(os.path.join(day1_rest_path, "*.csv"))
day1_squat_csv_files = glob.glob(os.path.join(day1_squat_path, "*.csv"))
day1_walk_csv_files = glob.glob(os.path.join(day1_walk_path, "*.csv"))

day2_jump_csv_files = glob.glob(os.path.join(day2_jump_path, "*.csv"))
day2_rest_csv_files = glob.glob(os.path.join(day2_rest_path, "*.csv"))
day2_squat_csv_files = glob.glob(os.path.join(day2_squat_path, "*.csv"))
day2_walk_csv_files = glob.glob(os.path.join(day2_walk_path, "*.csv"))

print(day1_jump_csv_files)

['c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_14_38.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_14_57.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_15_12.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_15_31.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_15_48.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_16_00.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_16_13.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_16_28.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_16_41.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_16_55.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_17_10.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_17_26.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_17_39.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_17_51.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_18_09.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_18_26.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_19_11.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_19_26.csv', 'c:\\Users\\WonResearchGroup\\Desktop\\Data-230614\\Jump\\2023-06-14 17_19_39.csv']

In [98]:
for f in day1_jump_csv_files:
    df = pd.read_csv(f)
    df = df['W']
    mother_df = pd.concat([mother_df, df.rename('Jump')], axis=1)
    

for f in day1_rest_csv_files:
    df = pd.read_csv(f)
    df = df['W']
    mother_df = pd.concat([mother_df, df.rename('Rest')], axis=1)

for f in day1_squat_csv_files:
    df = pd.read_csv(f)
    df = df['W']
    mother_df = pd.concat([mother_df, df.rename('Squat')], axis=1)

for f in day1_walk_csv_files:
    df = pd.read_csv(f)
    df = df['W']
    mother_df = pd.concat([mother_df, df.rename('Walk')], axis=1)


for f in day2_jump_csv_files:
    df = pd.read_csv(f)
    df = df['W']
    mother_df = pd.concat([mother_df, df.rename('Jump')], axis=1)

for f in day2_rest_csv_files:
    df = pd.read_csv(f)
    df = df['W']
    mother_df = pd.concat([mother_df, df.rename('Rest')], axis=1)

for f in day2_squat_csv_files:
    df = pd.read_csv(f)
    df = df['W']
    mother_df = pd.concat([mother_df, df.rename('Squat')], axis=1)

for f in day2_walk_csv_files:
    df = pd.read_csv(f)
    df = df['W']
    mother_df = pd.concat([mother_df, df.rename('Walk')], axis=1)


mother_df

,Jump,Jump,Jump,Jump,Jump,Jump,Jump,Jump,Jump,Jump,Jump,Jump,Jump,Jump,Jump,Jump,Jump,Jump,Jump
0,3051.0,3362.0,892.0,3724.0,2682.0,2721.0,2168.0,2998.0,2090.0,1222.0,2658.0,1802.0,2240.0,4056.0,1914.0,486,1690.0,2132.0,2453.0
1,3109.0,3586.0,799.0,4050.0,2683.0,2357.0,2576.0,3049.0,2083.0,772.0,2806.0,1574.0,2329.0,1741.0,1979.0,2047,1409.0,2015.0,3342.0
2,2245.0,3714.0,800.0,2568.0,2588.0,2453.0,2116.0,3130.0,2070.0,859.0,2296.0,1522.0,2763.0,1875.0,2424.0,1963,1271.0,2223.0,941.0
3,1755.0,3459.0,826.0,1423.0,2483.0,2100.0,2102.0,2768.0,2006.0,1646.0,1398.0,1611.0,3127.0,2272.0,2338.0,2126,1385.0,2549.0,1892.0
4,1319.0,3404.0,952.0,576.0,2095.0,1714.0,1917.0,2969.0,2318.0,1641.0,1634.0,1069.0,3370.0,1977.0,2102.0,2389,831.0,2851.0,2052.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1085,NaN,NaN,NaN
301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,972,NaN,NaN,NaN
302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1249,NaN,NaN,NaN
303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1161,NaN,NaN,NaN
304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1122,NaN,NaN,NaN

In [ ]:
day1_rest_csv_files = glob.glob(os.path.join(day1_rest_path, "*.csv"))